<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kotlinstarted">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".storagepersistencertest.FilePersistenceActivity"></activity>

        <receiver
            android:name=".broadcasttest.AnotherBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.kotlinstarted.broadcasttest.MY_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcasttest.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="com.example.kotlinstarted.broadcasttest.MY_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcasttest.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".broadcasttest.BroadCastActivity" />
        <activity android:name=".fragmenttest.NewsContentActivity" />
        <activity android:name=".fragmenttest.FragmentActivity" />
        <activity android:name=".recyclerviewtest.RecyclerViewTestActivity" />
        <activity
            android:name=".activitylifecycletest.DialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".activitylifecycletest.NormalActivity" />
        <activity
            android:name=".ThirdActivity"
            android:launchMode="singleTask"
            android:taskAffinity="com.example.kotlinstarted_1" />
        <activity
            android:name=".SecondActivity"
            android:launchMode="singleTask"
            android:taskAffinity="com.example.kotlinstarted_1">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>